.container {
  width: 100%;
  // background-color: white;
  padding-top: $nav-height;
  max-width: 900px;
  margin: 0 auto;
  h2 {
    text-align: center;
    color: white;
  }
  .table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    .team {
      position: relative;
      width: 90%;
      min-height: 50px;
      border: 2px solid black;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      margin: 0 0 5px 0;
      background-color: white;
      & > * {
        display: block;
        min-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:nth-child(even) {
        background-color: lightgray;
      }
      .active {
        display: none;
      }

      .team_name {
        text-align: center;
        width: 120px;
        font-weight: bold;
      }
      .points {
        font-weight: bold;
      }
      .form {
        min-width: 100px;
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .active {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
