$nav-height: 50px;

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../images/pexels-dom-le-roy-3991976.jpg");
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  margin-top: 30px;
}

section {
  min-height: calc(100vh - 80px);
  padding-top: 50px;
  width: 100%;
  padding-top: $nav-height;
  max-width: 900px;
  margin: 0 auto;
  font-size: 18px;
}
